@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --theme-font-family-base: 'Quicksand Variable', sans-serif;
    --theme-font-family-heading: 'Quicksand Variable', sans-serif;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-delay: 0ms !important;
        animation-duration: 1ms !important;
    }
}
